* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    border: 4px double;
    padding: 15px;
    max-width: 600px; 
    margin: 50px auto; 
}

h3 {
    text-align: center;
}

button {
    border-radius: 5px;
    margin: 5px;
}

select {
    display: inline-block;
    margin: 5px;
}
/* 
section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */

img {
    width: 40px;
    padding: 30px 25px 0 0;
    display: none;
}

#start {
    background-color:blanchedalmond;
}

#storage {
    background-color: lightpink;
}

#dining {
    background-color: aqua;
}

#diningRight {
    background-color: aquamarine;
}

#kitchen {
    background-color:steelblue;
}

#freezer {
    background-color: darkgreen;
}
